<h1 class="my-4">Moji oglasi</h1>
<% oglasi.forEach(oglas => { %>
    <div class="card">
        <div class="card-header text-center"><h4><span class="float-left"><%= oglas.naslov %></span> <span class="float-right"><%= oglas.datum.toLocaleDateString() %></span></h4></div>
        <div class="card-body">
            <div class="row py-4 m-auto">
                <% for(i=0;i < oglas.slika.length; i++){
                    %>
                <div class="col-md-4 gallery-item"><a href="/<%= oglas.slika[i] %>" target="_blank"><img class="w-75" src="./../../<%= oglas.slika[i] %>">
                    <p class="text-muted">Klik za veću sliku<i class="fas fa-arrow-up"></i></p></a>
                
                </div>
                <% 
            } %>
            </div>
            <hr>
            <h2 class="pl-3"><%- oglas.opis.substring(0,30) %>...
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <form action="/oglasi/izbrisi/<%=oglas.id%>?_method=DELETE" method="POST" class="form-group">
                    <a class="btn btn-danger " href="/oglasi/izmeni/<%=oglas.id%>">Izmeni</a>
                    <a href="/oglasi/<%=oglas.slug%>" class="btn btn-info ">Pročitaj</a>
                    
                        <button type="submit" class="btn btn-primary ">Obriši</button>
                    </form>
                  </div></h1>
            <hr>

           
                

                    
                    

        </div>
    </div>
    <br>
<%}); %>
